html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 5vw;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    html, body {
        margin: 0 2.5rem;
    }
}